<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/CSS/home.css">
</head>
<body>
    <div id="home-container">
        <div id="display">
            <div id="user_name">
                <h3>Welcome</h3>
            </div>
            <div id="buttons">

            </div>
        </div>
    </div>
</body>
</html>