<link rel="stylesheet" href="/css/signup.css">
<div id="signup-container" class="card">
    <h1 class="card-title">Employee Sign Up | Placements</h1>

    <form id="signup-form" action="/users/create" method="POST" class="form-group">
        <input type="text" name="name" id="name" class="form-control mt-3" required placeholder="Name">
        <input type="email" name="email" id="email" class="form-control mt-3" required placeholder="Email">
        <input type="password" name="password" id="password" class="form-control mt-3" required placeholder="Password">
        <input type="password" name="confirm_password" id="password" class="form-control mt-3" required placeholder="Confirm Password">

        <input type="submit" value="Sign Up" class="btn btn-primary mt-5">
    </form>
</div>