#home-container #signin-signup-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#home-container #display{
    margin: 50px;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}